<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Balance_Sheet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Balance_Sheet.Properties.Settings>
            <setting name="path_Backup" serializeAs="String">
                <value>C://Balance-Sheet-Backup</value>
            </setting>
            <setting name="print_directory_direct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>Centro de Referência de Assistência Social - CRAS</value>
            </setting>
            <setting name="number" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="district" serializeAs="String">
                <value>Centro</value>
            </setting>
            <setting name="cep" serializeAs="String">
                <value>39.180-000</value>
            </setting>
            <setting name="state" serializeAs="String">
                <value>Minas Gerais</value>
            </setting>
            <setting name="phone" serializeAs="String">
                <value>(38) 3523-1056</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>crasfs2017@gmail.com</value>
            </setting>
            <setting name="city" serializeAs="String">
                <value>Felício dos Santos</value>
            </setting>
            <setting name="address" serializeAs="String">
                <value>Rua Feliciano Canuto</value>
            </setting>
        </Balance_Sheet.Properties.Settings>
    </userSettings>
</configuration>